<!doctype html>
<html lang="en">
  <head>
      {% block head %}
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %} Dashboard to Stock Monitor</title>
	<!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = 'css/dashboard.css')}}" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/4.0.1/highcharts.js"></script>

      {% endblock %}
  </head>

  <body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">StockLab</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="dapan">dapan</a></li>
            <li><a href="zhangting">zhangting</a></li>
            <li><a href="history">History</a></li>
            <li><a href="daban">Daban</a></li>
            <li><a href="fupan">Fupan</a></li>
            <li><a href="lianghua">Lianghua</a></li>
            <li><a href="chaxun">Chaxun</a></li>
            <li><a href="misc">Misc</a></li>
          </ul>
       </div>
      </div>
	</nav>

    {% block content%}{% endblock %}


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>


