{% extends "base.html" %}}

{% block title %} dapan status {% endblock %}}

{% block head %}

{{super()}}
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/dapan.js')}}"></script>

{% endblock %}}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="main">
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-2 placeholder">
                    <div id="zdpcolchart"></div>
                </div>
                <div class="col-xs-6 col-sm-7 placeholder">
                    <div id="tencolchart"></div>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <div id="fivecolchart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="main">
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-6 placeholder">
                    <div id="splinechart2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}}

