{% extends "base.html" %}}

{% block title %} new from base {% endblock %}}

{% block head %}

{{super()}}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename = 'js/zhangting.js')}}"></script>
{% endblock %}}


{% block content %}

<div class="col-xs-6 col-sm-3 placeholder">
    <h3>YiZi</h3>
    <div class="table-responsive">
        <table id="yiziTable">

        </table>
    </div>
</div>

<div class="col-xs-6 col-sm-4 placeholder">
    <h3>BeiZa</h3>
    <div class="table-responsive">
        <table id="beizaTable">

        </table>
    </div>
</div>

<div class="col-xs-6 col-sm-4 placeholder">
    <h3>ZhengChang</h3>
    <div class="table-responsive">
        <table id="zhengchangTable">

        </table>
    </div>
</div>

<div class="col-xs-10 col-sm-10 placeholder">
    <h3>Daban Tishi</h3>
    <div class="table-responsive">
        <table id="dabanTable">

        </table>
    </div>
</div>


{% endblock %}}


