<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard to Stock Monitor</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = 'css/dashboard.css')}}" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/4.0.1/highcharts.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename = 'js/zhangting.js')}}"></script>

</head>


<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">StockLab</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Realtime</a></li>
                <li><a href="zhangting">Zhangting</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Quantumn</a></li>
                <li><a href="#">Misc</a></li>
            </ul>
        </div>
    </div>
</nav>



<div class="col-xs-6 col-sm-3 placeholder">
    <h3>YiZi</h3>
    <div class="table-responsive">
        <table id="yiziTable">

        </table>
    </div>
</div>

<div class="col-xs-6 col-sm-4 placeholder">
    <h3>BeiZa</h3>
    <div class="table-responsive">
        <table id="beizaTable">

        </table>
    </div>
</div>

<div class="col-xs-6 col-sm-4 placeholder">
    <h3>ZhengChang</h3>
    <div class="table-responsive">
        <table id="zhengchangTable">

        </table>
    </div>
</div>

<div class="col-xs-10 col-sm-10 placeholder">
    <h3>Daban Tishi</h3>
    <div class="table-responsive">
        <table id="dabanTable">

        </table>
    </div>
</div>


</body>

</html>